.navbar{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}
.logo{
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
color: #FFFFFF;
}
.links{
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
}
.links .demoBtn{
    display: none;
    opacity: 0;
}
.link{
    position: relative;
}
.link a{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}
.link:hover::after{
    width: 100%;
}
.link::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: linear-gradient(90deg, #35017d 0%, #a702d8 100%);
    left: 0px;
    bottom: -10px;
    border-radius: 50px;
    transition: var(--transitionTiming);
}
.link a{
    padding: 5px;
}
.buttons{
    display: flex;
    gap: 20px;
}
.mobileMenu{
    display: none;
    opacity: 0;
    pointer-events: none;
    position: relative;
}

/* media queries */
@media screen and (max-width: 1024px) {
    .links{
        width: 100%;
        gap: 10px;
    }
}

@media screen and (max-width: 900px) {
    .buttons .demoBtn{
        display: none;
        opacity: 0;
    }
    .links{
        display: none;
        opacity: 0;
    }
    .links .demoBtn{
        display: flex;
        opacity: 1;
    }
    .links.active{
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        min-height: 100vh;
        background: linear-gradient(to bottom, #4a0385 20%, #200129 80%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 65px;
        opacity: 1;
    }
    .links.active .link a{
        font-size: 30px;
    }
    .buttons{
        margin-left: auto;
    }
    .mobileMenu{
        z-index: 101;
        display: block;
        opacity: 1;
        pointer-events: all;
        cursor: pointer;
    }
    .mobileMenu.active{
        position: fixed;
        right: 5%;
        top: 5%;
    }
}

@media screen and (max-width: 600px) {
    .buttons{
        gap: 10px;
    }
    .buttons .btn{
         padding: 10px 14px; 
        font-size: 14px; 
    }
    .logo{
        font-size: 25px;
    }
    .navbar{
        padding-top: 25px;
    }
}